/vendor/
/composer.lock
/.php_cs.cache
/tests/**/reference/**
!/tests/**/reference/.gitkeep
/tests/**/cache/**
!/tests/**/cache/.gitkeep
/tests/**/fixtures/**/__*
/tests/**/fixtures/**/--*
/cache/
/drupal-debug.yml
