<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <php>
        <env name="DRUPAL_DEBUG_TESTS_ARE_RUNNING" value="true" force="true" />
    </php>

    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="integration/action">
            <directory suffix="Test.php">tests/Integration/Action</directory>
        </testsuite>
        <testsuite name="integration/drush">
            <directory suffix="Test.php">tests/Integration/Drush</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Ekino\Drupal\Debug\Tests\Integration\Action\SetupListener" file="tests/Integration/Action/SetupListener.php" />
    </listeners>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

</phpunit>
